body {
    background-image: url('https://raw.githubusercontent.com/free-s0up/free-s0up.github.io/refs/heads/main/jellyfish-blue-washi-tape-test2.png');
    background-repeat: repeat;
}
    h1 {
  color: green;
  margin-left: 40px;
}
